src/main/mule/cicd-test-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0e96bf85-d63e-4990-8a4f-ddfd4a2bff99" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="cicd-test-appFlow" doc:id="ed4246ac-5ab8-4ae3-b40e-b02c12d1dd65" >
		<http:listener doc:name="Listener" doc:id="816a7ea5-43d9-479b-a260-2e6addc01272" config-ref="HTTP_Listener_config" path="/jenkins"/>
		<set-payload value='#["Pipiline started"]' doc:name="Set Payload" doc:id="4d1b453a-7622-4f47-810f-ed0dd01abf5b" />
	</flow>
</mule>
